@model IEnumerable<WebApplication1.Models.AuthorModel>

@{
    ViewData["Title"] = "AllAuthor";
    Layout = "~/Pages/_LayoutAdmin.cshtml";
}

<h1>AllAuthor</h1>

<p>
    <a asp-action="Create">Create New</a>
    @Html.ActionLink("NewAuthor", "NewAuthor", "Author")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    <a href="~/Author/EditAuthor/@item.Id">Edit</a>
                    <a href="~/Author/DeleteAuthor/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
