@model IEnumerable<WebApplication1.Models.BookModel>

@{
    ViewData["Title"] = "AllBook";
    Layout = "~/Pages/_LayoutAdmin.cshtml";
}

<h1>Книги</h1>

<p>
    @Html.ActionLink("Нова книга", "NewBook", "Book")
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я книги
            </th>
            <th>
                Ім'я автора
            </th>
            <th>
                Жанр
            </th>
            <th>
                Рік публікації
            </th>
            <th>
                Силка
            </th>
            <th>
                Опис
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.LastName) @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreBook.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPublic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <a asp-action="EditBook" asp-controller="Book" asp-route-id="@item.Id">Редагувати</a>
                    <a asp-action="DeleteBook" asp-controller="Book" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
