@model IEnumerable<WebApplication1.Models.BookModel>
@{
    ViewData["Title"] = "AllBooks";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Книги</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Ім'я книги
            </th>
            <th>
                Ім'я автора
            </th>
            <th>
                Жанр
            </th>
            <th>
                Рік публікації
            </th>
            <th>
                Опис
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName) @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreBook.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <a asp-controller="Book" asp-action="AddUserBook" asp-route-id="@item.Id">Додати до улюблених</a>
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">Скачати</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
