@model IEnumerable<WebApplication1.Models.GenreBookModel>

@{
    ViewData["Title"] = "AllGenre";
    Layout = "~/Pages/_LayoutAdmin.cshtml";
}

<h1>AllGenre</h1>

<p>
    <a asp-action="Create">Create New</a>
    @Html.ActionLink("NewGenre", "NewGenre", "Genre")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a href="~/Genre/EditGenre/@item.Id">Edit</a>
                <a href="~/Genre/DeleteGenre/@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
